<div class='container'>
    <div class="champWrapper">
        <ul class='list' [ngClass]="{'list-search': displayChampCost}">
            <li class='list-element' *ngFor="let champ of championArray" onmouseover="showToolTipHandler()">
                <!-- <div *ngIf="witam"></div> -->
                <img src='../../assets/champions/{{ champ.championId }}.png' ngClass="borderColor{{ champ.cost }}">
                <p>{{ champ.name }}</p>
                <span class="tooltip"></span>

            </li>
        </ul>
        <select [(ngModel)]="witam" (ngModelChange)="onChange()">
            <option *ngFor="let item of gold" [ngValue]="item">Ilość złota potrzebna do kupienia {{item}}</option>
        </select>
    </div>
</div>